/* browncoat/normalizers/layout */

.container {
	//padding:0px $columnGutter;
	padding:0px 20px;
}

/*
 * fluid row using overflow hidden
 */

.row-fluid {
	width:100%;
	//margin:@b-margin;
}

//margin right instead of margin left to do overflow hidden
//Use this to set exact percentages and have the last box be ok
.row-fluid > [class*="span"] {
	float: left;
	margin-right: $columnGutter;
	&.l {
		margin-right: 0;
		@include overflower;
	}
	&:last-child {
		margin-right: 0;
		@include overflower;
	}
}
.row-fluid .span1 {
	width: $columnWidth + $columnGutter/11;
	/*width:($cwidth + $cgutter/($columns - 1)) * 1%;*/
}
.row-fluid .span2 {
	width: $columnWidth * 2 + $columnGutter + $columnGutter/6;
}
.row-fluid .span3 {
	width: $columnWidth * 3 + $columnGutter * 2 + $columnGutter/4;
}
.row-fluid .span4 {
	width: $columnWidth * 4 + $columnGutter * 3 + $columnGutter/3;
}
.row-fluid .span5 {
	width: $columnWidth * 5 + $columnGutter * 4;
}
.row-fluid .span6 {
	width: $columnWidth * 6 + $columnGutter * 5 + $columnGutter/2;
}
.row-fluid .span7 {
	width: $columnWidth * 7 + $columnGutter * 6;
}
.row-fluid .span8 {
	width: $columnWidth * 8 + $columnGutter * 7;
}
.row-fluid .span9 {
	width: $columnWidth * 9 + $columnGutter * 8;
}
.row-fluid .span10 {
	width: $columnWidth * 10 + $columnGutter * 9;
}
.row-fluid .span11 {
	width: $columnWidth * 11 + $columnGutter * 10;
}
.row-fluid .span12 {
	width: $columnWidth * 12 + $columnGutter * 11;
}

/*
 * fluid row using percentages
 */

.row-fluid-alt {
	width:100%;
	//margin:@b-margin;
}
.row-fluid-alt > [class*="span"] {
	float:left;
	margin-right:$columnGutter;
	&.l {
		margin-right:0;
	}
	&:last-child {
		margin-right:0;
	}
}

.row-fluid-alt .span1 {
	width:$columnWidth + $columnGutter/11 - .0111111111;
}
.row-fluid-alt .span2 {
	width:$columnWidth * 2 + $columnGutter + $columnGutter/6 - .0111111111;
}
.row-fluid-alt .span3 {
	width:$columnWidth * 3 + $columnGutter * 2 + $columnGutter/4 - .0111111111;
}
.row-fluid-alt .span4 {
	width:$columnWidth * 4 + $columnGutter * 3 + $columnGutter/3 - .0111111111;
}
.row-fluid-alt .span5 {
	width:$columnWidth * 5 + $columnGutter * 4 - .0111111111;
}
.row-fluid-alt .span6 {
	width:$columnWidth * 6 + $columnGutter * 5 + $columnGutter/2 - .0111111111;
}
.row-fluid-alt .span7 {
	width:$columnWidth * 7 + $columnGutter * 6 - .0111111111;
}
.row-fluid-alt .span8 {
	width:$columnWidth * 8 + $columnGutter * 7 - .0111111111;
}
.row-fluid-alt .span9 {
	width:$columnWidth * 9 + $columnGutter * 8 - .0111111111;
}
.row-fluid-alt .span10 {
	width:$columnWidth * 10 + $columnGutter * 9 - .0111111111;
}
.row-fluid-alt .span11 {
	width:$columnWidth * 11 + $columnGutter * 10 - .0111111111;
}
.row-fluid-alt .span12 {
	width:$columnWidth * 12 + $columnGutter * 11 - .0111111111;
}

/*
 * both row fluid styles
 */

[class*="row-fluid"] > [class*="span"] {
	.inner {
		padding:20px;
	}
}

/*
 * static sidebar
 */

.static-sidebar {
	.sidebar {
		width:360px;
		float:left;
		.inner {
			padding:20px;
		}
	}
	.main {
		@include overflower;
		.inner {
			padding:20px;
		}
	}
}



