/* browncoat/base/structure (does not output css) */
//grid
$columns: 12;
$cgutter: 3;
$cwidth: 100/$columns - $cgutter;

$columnWidth: $cwidth * 1%;
$columnGutter: $cgutter * 1%;



//build box
@mixin square($w,$h) {
	width: $w;
	height: $h;
}
@mixin marpad($m:0px,$p:0px) {
	margin:$m;
	padding:$p;
}


//layout
@mixin overflower {
	width: auto;
	float: none;
	overflow: hidden;
}


//clearfix
@mixin group {
	zoom: 1;
	&:before {
		display: table;
		content: "";
	}
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}
/* end */