/* browncoat/base/_colours.scss (does not output css)*/
/* end */
/* browncoat/base/_reset.scss */
body {
  background: #e6e6e6;
}

/* app/globals/_header.scss */
.site-header {
  background: #d9d9d9;
}

/* app/globals/_footer.scss */
.site-footer {
  background: #000;
}

/* app/globals/_navs.scss */
.site-nav {
  background: #ddd;
}
