/* browncoat/base/_colours.scss (does not output css)*/
$brand: #265dd0;

$linkColour: #bfbfbf;
$linkHoverColour: darken($linkColour, 50%);

$white: #fff;
$black: #000;

@function greyscale($perc){
	@return darken(#fff, $perc)
}


/* end */
